{% block coverIndex %}
    <!-- Cover -->
    <div class="d-flex align-items-center section-aquamarine py-5 cover">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-white mt-5">
                    <h1 class="display-2 d-none d-md-block">Bount'e-commerce</h1>
                    <h1 class="display-4 d-block d-md-none">Bount'e-commerce</h1>
                    <p class=""> {{ 'Le site incontournable'|trans }} </p>
                    <a href="{{path('connexion')}}" class="btn btn-lg mt-4 btn-outline-light">{{ 'Se connecter'|trans }}</a>
                    <a href="#content">
                        <i class="d-block fa fa-angle-down pt-5 fa-3x"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}