{% block coverIndex %}
    <!-- Cover -->
    <div class="d-flex align-items-center section-aquamarine py-5 coverPage">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-white mt-5">
                    <h1 class="display-2 d-none d-md-block coverh1">Bount'e-commerce</h1>
                    <h1 class="display-4 d-block d-md-none">Bount'e-commerce</h1>
                    <p class="">{{ 'Le site incontournable'|trans }} </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}