{% block footer %}
    <!-- Footer -->
<footer class="text-md-left text-center p-4 bg-dark text-light">
    <div class="container">
        <div class="row">
            <div class="my-3 col-lg-4 col-md-6">
                <h3>Bount'e-commerce</h3>
                <p class="my-3">
                    <a href="https://goo.gl/maps/LrXKBAPCN9M2" target="blank" class="text-muted">Doyen Gosse : 2, Place Doyen Gosse,
                        <br>38031 Grenoble Cedex</a>
                </p>
                <a class="btn btn-lg btn-primary" href="{{ path('connexion') }}">{{ 'Je me connecte'|trans }}</a>
            </div>
            <div class="my-3 col-lg-4 col-md-6">
                <h3> {{ 'Contactez nous'|trans }} </h3>
                <form action="{{ path('vitrine_homepage') }}">
                    <fieldset class="form-group my-3">
                        <input type="email" class="form-control" id="Input Email" placeholder="Email"> </fieldset>
                    <fieldset class="form-group my-3">
                        <input type="Text" class="form-control" id="Input Message" placeholder="Message"> </fieldset>
                    <button type="submit" class="btn btn-outline-primary"> {{ 'Envoyer'|trans }} </button>
                </form>
            </div>
            <div class="col-lg-1"> </div>
            
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="text-muted">© Copyright 2018 Bount'e-commerce - All rights reserved. </p>
            </div>
        </div>
    </div>
</footer>
{% endblock %}