{% block html %}
<!DOCTYPE html>
<html>

{% block head %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- PAGE settings -->
    <link rel="icon" href="{{ asset('bundles/vitrine/images/logo.png') }}">
    <title>bount'e-commerce</title>
    <meta name="description" content="Le site de e-commerce confiance. N'hésitez pas à profiter des meilleurs offres du marché.">
    <meta name="keywords" content="e-commerce, pas cher, qualité, large gamme.">
    <!-- CSS dependencies -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('bundles/vitrine/css/aquamarine.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/vitrine/css/products.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/vitrine/css/main.css') }}">
    <!-- Script: Make my navbar transparent when the document is scrolled to top -->
    <script src="{{ asset('bundles/vitrine/js/navbar-ontop.js') }}"></script>
</head>
{% endblock %}

{% block body %}
<body class="text-center">

{% block navbar %}
    {% include 'VitrineBundle:Default:navbar.html.twig' %}
{% endblock %}

<div class="content" id="content" style="text-align: center;margin: auto;">
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            {% if type == 'error' %}
                <div class="alert alert-danger" role="alert">
                    <strong>Erreur ! : </strong> {{ message }}
                </div>
            {% else %}
                <div class="alert alert-success" role="alert">
                    <strong>Succes ! : </strong> {{message}}
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% block content %}
{% endblock %}
</div>
{% include 'VitrineBundle:Default:footer.html.twig' %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="{{ asset('bundles/vitrine/js/jquery.min.js') }}"></script>
<!-- JavaScript dependencies -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<!-- Script: Smooth scrolling between anchors in the same page -->
<script src="{{ asset('bundles/vitrine/js/smooth-scroll.js') }}"></script>
</body>
{% endblock %}

</html>
{% endblock %}