{% block navbar %}
<!-- Navbar -->
<nav class="navbar navbar-expand-md fixed-top bg-dark navbar-dark">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbar2SupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item mx-2">
                    <a class="nav-link" href="{{ path('vitrine_homepage') }}"> {{ 'Accueil'|trans }}</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="{{ path('products') }}"> {{ 'Produits'|trans }} </a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="{{ path('sonata_admin_dashboard') }}"> {{ 'test admin sonata'|trans }} </a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="{{ path('addBeer') }}"> {{ 'addBeer'|trans }} </a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="{{ path('addCategory') }}"> {{ 'addCategory'|trans }} </a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="{{ path('validateCommands') }}"> {{ 'Valider les commandes'|trans }} </a>
                    </li>
                {% elseif is_granted('ROLE_USER') %}
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="{{ path('category') }}"> {{ 'Catégorie'|trans }}</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="{{ path('commands') }}"> {{ 'Mes commandes'|trans }} </a>
                    </li>
                    <a class="cart" href="{{ path('contenuPanier') }}"> <i class="fas fa-shopping-cart"></i></a>
                    {% if app.session.get('panier') is null %}
                        <p> 0 </p>
                    {% else %}
                        <p> {{ app.session.get('panier').getProductNumber() }}</p>
                    {% endif %}
                {% else %}
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="{{ path('category') }}"> {{ 'Catégorie'|trans }}</a>
                    </li>
                    <a class="cart" href="{{ path('contenuPanier') }}"> <i class="fas fa-shopping-cart"></i></a>
                    {% if app.session.get('panier') is null %}
                        <p> 0 </p>
                    {% else %}
                        <p> {{ app.session.get('panier').getProductNumber() }}</p>
                    {% endif %}
                {% endif %}
            </ul>
            <a class="btn navbar-btn mx-2 text-white btn-outline-light" href="{{path('connexion')}}">{{ 'Se connecter'|trans }}</a>
            <a class="btn navbar-btn mx-2 text-white btn-outline-light" href="{{path('deconnexion')}}">{{ 'Se déconnecter'|trans }}</a>
        </div>
    </div>
</nav>
{% endblock %}