{% extends 'VitrineBundle:Default:layout.html.twig' %}
{% block navbar %}
    {{ parent() }}
    {% include 'VitrineBundle:Default:cover.html.twig' %}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {{ parent() }}
            </div>

            {% trans_default_domain 'FOSUserBundle' %}
            <div class="col-md-7 col-push-5">
                {% for message in app.flashes('password') %}
                    <div class="flash-register">
                        <p> {{ message }} <p>
                    </div>
                {% endfor %}
                <form id="profileForm" action="{{ path('fos_user_change_password') }}" method="POST" class="fos_user_change_password">
                    <table>
                        <tr>
                            <td> {{ form_label (form.current_password) }} </td>
                            <td> {{ form_widget (form.current_password) }} </td>
                        </tr>
                        <tr>
                            <td> {{ form_label (form.plainPassword['first']) }} </td>
                            <td> {{ form_widget (form.plainPassword['first']) }} </td>
                        </tr>
                        <tr>
                            <td> {{ form_label (form.plainPassword['second']) }} </td>
                            <td> {{ form_widget (form.plainPassword['second']) }} </td>
                        </tr>

                    </table>
                    <div>
                        <button type="submit" value="{{ 'change_password.submit'|trans }}">{{ 'change_password.submit'|trans }} </button>
                    </div>
                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                    <ul class="error">
                        <li>{{ form_errors(form.current_password) }} </li>
                        <li>{{ form_errors(form.plainPassword['first']) }}</li>
                    </ul>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

