{% extends 'VitrineBundle:Default:layout.html.twig' %}
{% block navbar %}
    {{ parent() }}
    {% include 'VitrineBundle:Default:cover.html.twig' %}
{% endblock %}
{% block content %}
    {% trans_default_domain 'FOSUserBundle' %}
    {% for message in app.flashes('registered') %}
        <div class="flash-register">
            <p> {{ message }} <p>
        </div>
    {% endfor %}

    Un email vient de vous être envoyé.
{%  endblock %}