{% extends '@FOSUser/Security/login.html.twig' %}
{% block stylesheets %}
    <meta http-equiv="refresh" content="10; URL={{asset('connexion')}}" />
    {{ parent() }}
{% endblock %}
{% block content %}
    {% block fos_user_content %}
        <div class="limiter">
            <div class="container-login100">
                {% trans_default_domain 'FOSUserBundle' %}
                <div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">
                    <span class="login100-form-title p-b-55">
                        <img id="logo" src="{{asset('bundles/vitrine/images/logo.png')}}" >
                    </span>
                    <p> Votre compte est maintenant activé. </p><br>
                    <p> Vous allez être redirigé vers la page de connexion, veuillez renseigner l'identifiant et le mot de passe que vous avez renseigné(e). </p> <br>
                </div>
            </div>
        </div>

    {% endblock %}
{% endblock %}
