{% extends 'VitrineBundle:Default:layout.html.twig' %}
{% block navbar %}
    {{ parent() }}
    {% include 'VitrineBundle:Default:cover.html.twig' %}
{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <header class="card-header">
                <a href="{{ path('connexion') }}" class="float-right btn btn-outline-primary mt-1">{{ 'Je me connecte'|trans }}</a>
                <h4 class="card-title mt-2">{{ 'Enregistrement'|trans }}</h4>
            </header>
            <article class="card-body">
                {% trans_default_domain 'FOSUserBundle' %}
                {% for message in app.flashes('registered') %}
                    <div class="flash-register">
                        <p> {{ message }} <p>
                    </div>
                {% endfor %}

                <form action="{{ path('fos_user_registration_register') }}" method="POST" class="fos_user_registration_register">
                    <div class="form-row">
                        <div class="col form-group">
                            <label>{{ 'Prénom'|trans }} </label>
                            {{ form_widget (form.firstName, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                        <div class="col form-group">
                            <label>{{ 'Nom'|trans }}</label>
                            {{ form_widget (form.lastName, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label>{{ 'identifiant de connexion'|trans }}</label>
                        {{ form_widget (form.username, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        <label>{{ 'Adresse email'|trans }}</label>
                        {{ form_widget (form.email, { 'attr': {'class': 'form-control'} }) }}
                        {% if (form_errors (form.email)) is not empty %}
                            <div class="alert alert-warning register">
                                <a href="#" class="close" data-dismiss="alert">&times;</a>
                                <strong>Warning!</strong> {{ form_errors (form.email) }}
                            </div>
                        {% endif %}

                        <small class="form-text text-muted">
                            {{ 'Nous ne partagerons jamais votre adresse mail avec quelqu\'un d\'autre'|trans }}
                        </small>
                    </div>
                    <div class="form-group">
                        {{ form_label (form.gender) }}
                        {{ form_widget (form.gender, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_label (form.country) }}
                        {{ form_widget (form.country, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_label (form.address) }}
                        {{ form_widget (form.address, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_label (form.plainPassword['first']) }}
                        {{ form_widget (form.plainPassword['first'], { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_label (form.plainPassword['second']) }}
                        {{ form_widget (form.plainPassword['second'], { 'attr': {'class': 'form-control'} }) }}
                        {{ form_errors (form.plainPassword['second']) }}
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block" value="{{ 'registration.submit'|trans }}" > {{'registration.submit'|trans}} </button>
                    </div>
                    <small class="text-muted">{{ 'En cliquant sur le bouton "s\'enregistrer", vous accepter'|trans }}<br> {{ 'nos termes d\'utilisation des données'|trans }}</small>

                    {{ form_errors(form) }}
                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                </form>
            </article>
        </div>
    </div>
</div>
{% endblock %}

