{% extends 'VitrineBundle:Default:layout.html.twig' %}
{% block navbar %}
    {{ parent() }}
{% include 'VitrineBundle:Default:cover.html.twig' %}
{% endblock %}
{% block content %}

    <div class="marginCover"></div>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <article class="card-body">
                    <h1> Ajout d'une bière</h1>
                    <form action="{{ path('addBeer') }}" method="POST" enctype="multipart/form-data">
                        <div class="form-row">
                            <div class="col form-group">
                                <label> {{ form_label(form.name) }} </label>
                                {{ form_widget (form.name, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                            <div class="col form-group">
                                <label>{{ form_label(form.price) }}</label>
                                {{ form_widget (form.price, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label>{{ form_label(form.description) }}</label>
                            {{ form_widget (form.description, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                        <div class="form-group">
                            <label>{{ form_label(form.quantity) }}</label>
                            {{ form_widget (form.quantity, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                        <div class="form-group">
                            {{ form_label (form.image) }}
                            {{ form_widget (form.image, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                        <div class="form-group">
                            {{ form_label (form.alcoholLevel) }}
                            {{ form_widget (form.alcoholLevel, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                        <div class="form-group">
                            {{ form_label (form.type) }}
                            {{ form_widget (form.type, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                        <div class="form-group">
                            {{ form_label (form.category) }}
                            {{ form_widget (form.category, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                        {{ form_rest(form) }}
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Enregistrer </button>
                        </div>


                    </form>
                </article>
            </div>
        </div>
    </div>
{% endblock %}