{% extends 'VitrineBundle:Default:layout.html.twig' %}
{% block navbar %}
    {{ parent() }}
{% include 'VitrineBundle:Default:cover.html.twig' %}
{% endblock %}
{% block content %}
    <div class="marginCover"></div>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <article class="card-body">
                    <h1> Ajout d'une catégorie</h1>
                    <form action="{{ path('addCategory') }}" method="POST">
                        <div class="form-group">
                            <label>{{ form_label(form.name) }}</label>
                            {{ form_widget (form.name, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                        {{ form_rest(form) }}
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Enregistrer </button>
                        </div>


                    </form>
                </article>
            </div>
        </div>
    </div>
{% endblock %}