{% extends 'VitrineBundle:Default:layout.html.twig' %}
{% block navbar %}
    {{ parent() }}
{% include 'VitrineBundle:Default:cover.html.twig' %}
{% endblock %}
{% block content %}
    <div class="marginCover"></div>

    {%  if command != null %}
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <h4> Commande n° </h4>
                </div>
                <div class="col-md-4">
                    <h4> Date de la commande. </h4>
                </div>
                <div class="col-md-3">
                    <h4> État de la commande </h4>
                </div>
                <div class="col-md-2">
                    <h4> prix total </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <p> {{ command.getId() }} </p>
                </div>
                <div class="col-md-4">
                    <p> {{ command.getDate()|date('d-m-Y') }} </p>
                </div>
                <div class="col-md-3">
                    <p>
                        {% if command.isValidate() == 0 %}
                            En attente de validation
                        {% else %}
                            Validée
                        {% endif %}
                    </p>
                </div>
                <div class="col-md-2">
                    <p> {{ totalPrice }} </p>
                </div>
            </div>
            <br><br><br>
            <div class="row">
                <div class="col-md-12">
                    <h4> Détails de la commande </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-1">
                    <h5> {{ 'Nom'|trans }} </h5>
                </div>
                <div class="col-md-3">
                    <h5> {{ 'Description'|trans }} </h5>
                </div>
                <div class="col-md-2">
                    <h5> {{ 'quantité'|trans }} </h5>
                </div>
                <div class="col-md-1">
                    <h5> {{ 'prix'|trans }} </h5>
                </div>
            </div>

            {% for commandLine in command.getCommandLines() %}
                {% set beer = commandLine.getProduct() %}
                <hr>
            <div class="row">
                <div class="col-md-2">
                    {% set path = 'bundles/vitrine/images/'~beer.getCategory().getName()~'/'~beer.getImage() %}
                    <img class="pic-1" src="{{ asset(path)}}" style="height: 80px; width: auto;">
                </div>
                <div class="col-md-1"> {{ beer.getName() }} </div>
                <div class="col-md-3" id="description">
                    {% if (beer.getDescription())|length > 150 %}
                        {{ beer.getDescription()|slice(0,150) }}...
                    {% else %}
                        {{ beer.getDescription() }}
                    {% endif %}
                </div>
                <div class="col-md-2"> {{ commandLine.getQuantity() }} </div>
                <div class="col-md-1"> {{ commandLine.getPrice() }} </div>
            </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}