{% extends 'VitrineBundle:Default:layout.html.twig' %}
{% block navbar %}
    {{ parent() }}
{% include 'VitrineBundle:Default:cover.html.twig' %}
{% endblock %}
{% block content %}
    <div class="marginCover"></div>
    {% if contenuPanier|length == 0 %}
        <p> Pas de produit dans le panier.</p>
    {% else %}
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-1">
                    <h4> {{ 'Nom'|trans }} </h4>
                </div>
                <div class="col-md-3">
                    <h4> {{ 'Description'|trans }} </h4>
                </div>
                <div class="col-md-3">
                    <h4> {{ 'quantité'|trans }} </h4>
                </div>
                <div class="col-md-1">
                    <h4> {{ 'prix'|trans }} </h4>
                </div>
                <div class="col-md-1">
                    <h4> {{ 'sous-total'|trans }} </h4>
                </div>
            </div>

            {% for product in contenuPanier %}
                {% set beer = product[0] %}
                {% set quantity = product[1] %}
                <hr>
                <div class="row">
                    <div class="col-md-2">
                        {% set path = 'bundles/vitrine/images/'~beer.getCategory().getName()~'/'~beer.getImage() %}
                        <img class="pic-1" src="{{ asset(path)}}" style="height: 80px; width: auto;">
                    </div>
                    <div class="col-md-1"> {{ beer.getName() }} </div>
                    <div class="col-md-3" id="description">
                        {% if (beer.getDescription())|length > 150 %}
                            {{ beer.getDescription()|slice(0,150) }}...
                        {% else %}
                            {{ beer.getDescription() }}
                        {% endif %}
                    </div>

                    <div class="col-md-3">
                        <a href="{{ path('ajoutArticle', {'id':beer.getId(), 'quantity':-1}) }}"> <i class="fas fa-minus"></i> </a>
                        {{ quantity }}
                        <a href="{{ path('ajoutArticle', {'id':beer.getId()}) }}"> <i class="fas fa-plus"></i> </a>
                    </div>
                    <div class="col-md-1"> {{ beer.getPrice() }}€/u </div>
                    <div class="col-md-1"> {{ beer.getPrice() * quantity }}€ </div>
                    <div class="col-md-1">
                        <a href="{{ path('removeArticle', {'id':beer.getId()}) }}" data-tip="supprimer"><i class="fas fa-trash"></i></a>
                    </div>
                </div>
            {% endfor %}

            <hr>
            <div class="row">
                <div class="col-md-1">
                    <h4> {{ 'Total'|trans }} </h4>
                </div>
                <div class="col-md-10"></div>
                <div class="col-md-1"> <h4> {{ totalPrice }}€ </h4> </div>
            </div>
            <br><br>
            <div class="row">
                <a href="{{ path('validateCart', {'totalPrice':totalPrice}) }}" class="btn btn-primary btn-block"> {{ 'Valider le panier'|trans }}</a>
            </div>
        </div>
    {% endif %}
{% endblock %}