{% extends 'VitrineBundle:Default:layout.html.twig' %}
{% block navbar %}
    {{ parent() }}
{% include 'VitrineBundle:Default:coverIndex.html.twig' %}
{% endblock %}
{% block content %}
    <div class="marginCover"></div>
    <p class="-file-text"> Bienvenue sur notre site d'e-commerce de type qualitatif. </p>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse enim nulla, eleifend nec orci ac, tempus laoreet nunc. Nam in dignissim ipsum, eu viverra nisl. Phasellus et ex nibh. Morbi quis dui at turpis condimentum venenatis. Donec luctus justo et laoreet tristique. Aenean sed laoreet sapien. Etiam lorem dui, gravida non ante eget, mattis auctor metus. Fusce auctor iaculis enim, ac porta odio posuere in. Pellentesque volutpat dui id est ultricies semper. Etiam sit amet consectetur sapien, id cursus nulla. Morbi massa nisl, lobortis in viverra et, molestie sit amet ligula. Nulla vulputate lacus massa, sit amet viverra leo volutpat quis. Duis posuere rhoncus eros sit amet accumsan. Proin sed quam et dolor suscipit dapibus a id elit.
    </p>
    <p>
        Aliquam erat volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut at porttitor turpis, eu consectetur neque. Donec non ligula volutpat, semper leo eget, eleifend turpis. Donec ut augue efficitur, finibus tortor nec, pretium odio. Pellentesque est mauris, elementum non ipsum et, viverra iaculis turpis. In tempus ipsum urna, non consequat purus consectetur viverra. Proin tincidunt eu urna at imperdiet. Duis placerat tristique ante nec porta. Ut lobortis mi quis nisi pharetra, ut vestibulum neque pharetra. Morbi sem odio, auctor vitae semper ac, efficitur vel tortor. Nunc finibus justo sit amet tellus elementum tincidunt. Suspendisse vel mi ut felis pretium facilisis at sed justo.
    </p>
    <p>
        Aliquam nec ante nec diam porta porta et vitae nunc. Nam nec augue iaculis, convallis quam id, porta sem. Ut tempor leo sed massa placerat, at imperdiet nulla posuere. Vestibulum congue ligula faucibus nisi interdum tristique. Suspendisse nibh ligula, dapibus in tellus vitae, dictum tempor leo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce fringilla pretium dui, mollis imperdiet urna rhoncus a. Morbi finibus sed erat non lacinia. Sed gravida posuere felis, id lobortis lacus pulvinar et. Curabitur sit amet diam eget elit volutpat tempus et vitae dolor. In in elit turpis. Morbi efficitur, ex et tempor imperdiet, risus nisi porttitor augue, interdum consequat purus leo sit amet lorem.
    </p>
    <p>
        Donec ut ipsum vitae magna placerat aliquet. Curabitur pretium auctor ex at tempus. In hac habitasse platea dictumst. Duis vitae fringilla orci, sed condimentum nisl. Curabitur mollis mollis dolor at rutrum. Duis elit ante, rutrum varius fermentum ac, scelerisque interdum risus. Duis ullamcorper quam lorem, sed fermentum ex blandit quis. Integer lacinia ex eu enim posuere tempus. Pellentesque ac nunc tortor. Sed sagittis varius ex et tincidunt. Nam ac bibendum lacus. Nulla tincidunt interdum orci in tempor.
    </p>
{% endblock %}