{% extends 'VitrineBundle:Default:layout.html.twig' %}
{% block navbar %}
    {{ parent() }}
{% include 'VitrineBundle:Default:cover.html.twig' %}
{% endblock %}
{% block content %}
    <div class="marginCover"></div>

    <h3> Les 2 bières les plus vendues !</h3>
    <div class="container">
        <div class="row">
        {% for beer in mostSaleBeers %}
            <div class="col-md-3 col-sm-6">
                <div class="product-grid">
                    <div class="product-image">
                        <a href="#">
                            {% set path = 'bundles/vitrine/images/'~beer.getCategory().getName()~'/'~beer.getImage() %}
                            <img class="pic-1" src="{{ asset(path)}}" style="height: 120px; width: auto;">
                        </a>
                        <ul class="social">
                            <li><a href="{{ path('productDetails', {'productId':beer.getId()}) }}" data-tip="voir détails"><i class="fa fa-search"></i></a></li>
                            {% if is_granted('ROLE_ADMIN') %}
                                <li><a href="{{ path('removeBeer', {'beerId':beer.getId()}) }}" data-tip="supprimer"><i class="fas fa-trash"></i></a></li>
                            {% else %}
                                <li><a href="{{ path('ajoutArticle', {'id':beer.getId(),'quantity':1}) }}" data-tip="ajouter au panier"><i class="fa fa-shopping-cart"></i></a></li>
                            {% endif %}
                        </ul>
                        <span class="product-new-label">Sale</span>
                        <span class="product-discount-label">20%</span>
                    </div>
                    <ul class="rating">
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star disable"></li>
                    </ul>
                    <div class="product-content">
                        <h3 class="title"><a href="#">{{ beer.getName() }}</a></h3>
                        <div class="price">{{ beer.getPrice() }}€
                            <span>{{ beer.getPrice()*1.2 }}€</span>
                        </div>
                        <a class="add-to-cart" href="{{ path('ajoutArticle', {'id':beer.getId(),'quantity':1}) }}">+ ajouter au panier</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>

    <hr><hr>

    <div class="container">
        <div class="row">
            {% for beer in beers %}
                <div class="col-md-3 col-sm-6">
                    <div class="product-grid">
                        <div class="product-image">
                            <a href="#">
                                {% set path = 'bundles/vitrine/images/'~beer.getCategory().getName()~'/'~beer.getImage() %}
                                <img class="pic-1" src="{{ asset(path)}}" style="height: 120px; width: auto;">
                            </a>
                            <ul class="social">
                                <li><a href="{{ path('productDetails', {'productId':beer.getId()}) }}" data-tip="voir détails"><i class="fa fa-search"></i></a></li>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li><a href="{{ path('removeBeer', {'beerId':beer.getId()}) }}" data-tip="supprimer"><i class="fas fa-trash"></i></a></li>
                                {% else %}
                                    <li><a href="{{ path('ajoutArticle', {'id':beer.getId(),'quantity':1}) }}" data-tip="ajouter au panier"><i class="fa fa-shopping-cart"></i></a></li>
                                {% endif %}
                            </ul>
                            <span class="product-new-label">Sale</span>
                            <span class="product-discount-label">20%</span>
                        </div>
                        <ul class="rating">
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star disable"></li>
                        </ul>
                        <div class="product-content">
                            <h3 class="title"><a href="#">{{ beer.getName() }}</a></h3>
                            <div class="price">{{ beer.getPrice() }}€
                                <span>{{ beer.getPrice()*1.2 }}€</span>
                            </div>
                            <a class="add-to-cart" href="{{ path('ajoutArticle', {'id':beer.getId(),'quantity':1}) }}">+ ajouter au panier</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}