{% extends 'VitrineBundle:Default:layout.html.twig' %}
{% block navbar %}
    {{ parent() }}
{% include 'VitrineBundle:Default:cover.html.twig' %}
{% endblock %}
{% block content %}
    <div class="marginCover"></div>

    <div class="row">
        <div class="col-md-4 mr-auto order-2 order-md-1">
            {% set path = 'bundles/vitrine/images/'~beer.getCategory().getName()~'/'~beer.getImage() %}
            <img src="{{ asset(path)}}" style="height: 400px; width: auto;">
        </div>
        <div class="px-md-5 p-3 d-flex flex-column align-items-start justify-content-center col-md-7 order-1 order-md-2">
            <h1>{{ beer.getName() }}</h1>
            <h5> {{ 'Prix'|trans }} : {{ beer.getPrice() }}€</h5>
            <p class="mb-3 lead">
                {{ beer.getDescription() }}
            </p>
            <p class="mb-3 lead">
                Quantité en stock : {{ beer.getQuantity() }}
            </p>
            <div class="row text-muted">
                <form action="{{ path('ajoutArticle', {'id':beer.getId()}) }}" method="POST">
                    <div>
                        <label for="">
                            {{ 'Quantité'|trans }} :
                            <input type="number" name="quantity" class="form-control" value="1">
                        </label>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-danger">+ {{ 'Ajouter au panier'|trans }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}