{% extends 'VitrineBundle:Default:layout.html.twig' %}
{% block navbar %}
    {{ parent() }}
{% include 'VitrineBundle:Default:cover.html.twig' %}
{% endblock %}
{% block content %}
    {% if is_granted('ROLE_ADMIN') == false %}
    <div class="marginCover">
        <nav class="navbar navbar-expand-md bg-dark">
            <div class="container">
                <div class="collapse navbar-collapse justify-content-center" id="navbar2SupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item mx-2">
                            <a class="nav-link" href="{{ path('commands') }}"> {{ 'Commandes en cours'|trans }}</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link" href="{{ path('validatedCommands') }}"> {{ 'Commandes validées'|trans }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <br>
    </div>
    {% endif %}

    {% if validate == false %}
        <h3> Les commandes en attente de validation </h3>
    {% else %}
        <h3> Les commandes validées </h3>
    {% endif %}
    <br>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2"></div>
        <div class="col-md-1"> <h4> {{ 'Nom'|trans }} </h4> </div>
        <div class="col-md-3" id="description"> <h4> {{ 'Description'|trans }} </h4>  </div>
        <div class="col-md-2"> <h4> {{ 'Quantité'|trans }} </h4> </div>
        <div class="col-md-1"> <h4> {{ 'Prix'|trans }} </h4> </div>
    </div>
    {% if commands != null %}
        {% for command in commands %}
            <div class="line"></div>
            <br>
            <h5> Commande n°{{ command.getId() }}
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="" href="{{ path('validCommand', {'commandId':command.getId()}) }}"> {{ 'Je valide'|trans }}</a>
                {% endif %}
            </h5>
            {% for commandLine in command.getCommandLines() %}
                {% set beer = commandLine.getProduct() %}
                <hr>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2">
                    {% set path = 'bundles/vitrine/images/'~beer.getCategory().getName()~'/'~beer.getImage() %}
                    <img class="pic-1" src="{{ asset(path)}}" style="height: 80px; width: auto;">
                </div>
                <div class="col-md-1"> {{ beer.getName() }} </div>
                <div class="col-md-3" id="description">
                    {% if (beer.getDescription())|length > 150 %}
                        {{ beer.getDescription()|slice(0,150) }}...
                    {% else %}
                        {{ beer.getDescription() }}
                    {% endif %}
                </div>
                <div class="col-md-2"> {{ commandLine.getQuantity() }} </div>
                <div class="col-md-1"> {{ commandLine.getPrice() }} </div>
            </div>
            {% endfor %}
        {% endfor %}
    {% endif %}
{% endblock %}