{% extends 'VitrineBundle:Default:layout.html.twig' %}
{% block navbar %}
    {{ parent() }}
    {% include 'VitrineBundle:Default:cover.html.twig' %}
{% endblock %}
{% block content %}
    {% block fos_user_content %}

    <div class="container login-container">
        <div class="row" style="justify-content: center">
            <div class="col-md-6 login-form-2">
                <p style="color: white"> Pas de compte ? <a href="{{ path('fos_user_registration_register') }}"> {{ 'Je m\'inscris'|trans }}</a> </p>
                <h3> Connexion</h3>
                <form action="{{path("fos_user_security_check")}}" method="post">
                    {% if csrf_token %}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    {% endif %}

                    <div class="form-group">
                        <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" placeholder="Nom d'utilisateur"/>
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control" id="password" name="_password" required="required" autocomplete="current-password" placeholder="Mot de passe"/>
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>

                    <div class="form-group">
                        <a class="btnForgetPwd" href="{{ path('fos_user_resetting_request') }}"> {{ 'Mot de passe oublié ?'|trans }}</a>
                    </div>


                    <div class="form-group">
                        <input type="submit" class="btnSubmit" id="_submit" name="_submit" value="{{ 'Connexion'|trans }}" />
                    </div>

                </form>
            </div>
        </div>
    </div>
    {% endblock %}
{% endblock %}