{% extends '@FOSUser/Security/login.html.twig' %}
{% block stylesheets %}
        {{ parent() }}
{% endblock %}
{% block content %}
    {% block fos_user_content %}
        <div class="limiter">
            <div class="container-login100">
                {% trans_default_domain 'FOSUserBundle' %}
                <div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">
                    <span class="login100-form-title p-b-55">
                        <img id="logo" src="{{asset('bundles/vitrine/images/logo.png')}}" >
                    </span>
                    <p> Un e-mail a été envoyé. Il contient un lien sur lequel il vous faudra cliquer pour réinitialiser votre mot de passe. </p><br>
                    <p> Remarque : Vous ne pouvez demander un nouveau mot de passe que toutes les 2 heures. </p> <br>

                    <p> Si vous ne recevez pas un email, vérifiez votre dossier spam ou essayez à nouveau.</p> <br>

                    <form name="formulaire" method="POST" action="{{ path("fos_user_security_login") }}">
                        <div class="container-login100-form-btn p-t-25">
                            <input class="login100-form-btn" type="submit" name="btn_news" value="Ok"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    {% endblock %}
{% endblock %}
