{% extends '@FOSUser/Security/login.html.twig' %}
{% block stylesheets %}
        {{ parent() }}
{% endblock %}
{% block content %}
    {% block fos_user_content %}
        <div class="container login-container">
            <div class="row" style="justify-content: center">
                <div class="col-md-6 login-form-2">
                    <h3> {{ 'Récupération du mot de passe'|trans }} </h3>
                    <p> *{{ 'Un email vous sera envoyé.'|trans }} </p>
                    {% trans_default_domain 'FOSUserBundle' %}
                    <form action="{{ path("fos_user_resetting_send_email") }}" method="POST" class="fos_user_resetting_request">
                        <div class="form-group">
                            <input class="form-control" type="text" id="username" name="username" required="required" autocomplete="username" placeholder=" {{ "resetting.request.username"|trans }} "/>
                        </div>
                        <div class="">
                            <input class="btnSubmit" type="submit" id="_submit" name="_submit" value="{{ 'resetting.request.submit'|trans }}" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}
