{% extends 'VitrineBundle:Default:layout.html.twig' %}
{% block navbar %}
    {{ parent() }}
    {% include 'VitrineBundle:Default:cover.html.twig' %}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {{ parent() }}
            </div>
            {% trans_default_domain 'FOSUserBundle' %}
             <div class="col-md-7 col-push-5">
                <form id="profileForm" action="{{ path('fos_user_profile_edit') }}" method="POST" class="fos_user_profile_edit">
                    <table>
                        <tr>
                            <td> {{ form_label (form.username) }} </td>
                            <td> {{ form_widget (form.username) }} </td>
                        </tr>
                        <tr>
                            <td> {{ form_label (form.email) }} </td>
                            <td> {{ form_widget (form.email) }} </td>
                        </tr>
                        <tr>
                            <td> {{ form_label (form.current_password) }} </td>
                            <td> {{ form_widget (form.current_password) }} </td>
                        </tr>
                    </table>
                    <div>
                        <button type="submit" value="{{ 'profile.edit.submit'|trans }}" >{{ 'profile.edit.submit'|trans }} </button>
                    </div>
                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                    <div class="error">
                        {{ form_errors(form.current_password) }}
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

