{% extends 'VitrineBundle:Default:layout.html.twig' %}
{% block navbar %}
    {{ parent() }}
    {% include 'VitrineBundle:Default:cover.html.twig' %}

{% endblock %}
{% block content %}
    {% set route = app.request.headers.get('referer')|split('/')|last %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {{ parent() }}
            </div>
            {% trans_default_domain 'FOSUserBundle' %}
             <div class="col-md-7 col-push-5">
                 {% if route is same as('edit') %}
                    <p class="flash"> Votre profil a bien été modifié ! </p>
                {% else %}
                    <p class="flash"> Votre mot de passe a bien été modifié ! </p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

