.content{
    min-height: 400px;
    max-width: 90%;
}

.cart{
    float: right;
}

.line {
    width:100%;
    height: 2px;
    background-color: black;
}

.register ul {
    list-style: none;
}

#description {
    text-align: justify;
}

.marginCover{
    min-height: 60px;
}

.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
}
.login-logo{
    position: relative;
    margin-left: -41.5%;
}
.login-logo img{
    position: absolute;
    width: 20%;
    margin-top: 19%;
    background: #282726;
    border-radius: 4.5rem;
    padding: 5%;
}
.login-form-1{
    padding: 9%;
    background:#282726;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
    text-align: center;
    margin-bottom:12%;
    color:#fff;
}
.login-form-2{
    padding: 9%;
    background: white;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3{
    text-align: center;
    margin-bottom:12%;
    color: black;
}
.login-form-2 p{
    color:black !important;
}
.btnSubmit{
    font-weight: 600;
    width: 50%;
    color: #282726;
    background-color: #007bff;
    border: none;
    border-radius: 1.5rem;
    padding:2%;
}
.btnSubmit:hover{
    background-color: #005cbf;
}
.btnForgetPwd{
    color: black;
    font-weight: 600;
    text-decoration: none;
}
.btnForgetPwd:hover{
    text-decoration:none;
    color:red;
}

footer{
    margin-top: 50px;
}

input::placeholder{
    color:black !important;
}